.footer {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 0px;
  height: auto;
  position: relative;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.footer-content {
  max-width: 1000px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer a {
  color: #000000;
  text-decoration: none;
  margin: 0 0px;
}

.footer a:hover {
  cursor: pointer;
}

.footer p {
  margin: 5px 0;
}

@media (max-width: 600px) {
  .footer {
    padding: 0px;
  }
}

.social-links {
  margin: 10px 0;
}

.social-links a {
  color: #000000;
  margin: 0 10px;
  text-decoration: none;
}

.social-links a:hover {
  text-decoration: underline;
}
