.skills {
  padding: 100px 20px;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.skills-container {
  display: flex;
  animation: scroll 15s linear infinite;
}

.skills-icon {
  color: rgb(0, 70, 248);
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.skill-category {
  flex: 0 0 auto;
  margin: 0 20px;
  background-color: var(--navbar-bg-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 8px 20px rgba(0, 0, 0, 0.1);
  min-width: 200px;
  color: var(--text-color);
}

.skill-category i {
  font-size: 2rem;
  margin-bottom: 10px;
}

.skill-category h3 {
  margin: 10px 0;
  font-size: 1.2rem;
}

.skill-category ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.skill-category ul li {
  margin-bottom: 5px;
}

.skills-animation-container {
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  align-items: center;
}

/* Adjustments for smaller screens */
@media (max-width: 1024px) {
  .skills-container {
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .skill-category {
    flex: 1 1 calc(50% - 40px); /* Adjust width for medium screens */
    margin: 10px;
  }
}

@media (max-width: 768px) {
  .skills {
    padding: 30px 10px; /* Reduce padding for smaller screens */
  }
  
  .skills-container {
    flex-wrap: wrap;
    justify-content: center;
    animation: none; /* Disable animation for smaller screens */
  }
  
  .skill-category {
    flex: 1 1 calc(100% - 40px); /* Adjust width for small screens */
    margin: 10px;
  }
}

@media (max-width: 480px) {
  .skills {
    padding: 20px 15px; 
  }
  
  .skills-container {
    flex-wrap: wrap;
    justify-content: center;
    animation: none; 
  }
  
  .skill-category {
    flex: 1 1 calc(100% - 20px); 
    margin: 10px;
  }
}
