.skills {
  padding: 100px 20px;
  /* background-color: #ffffff; */
}

.skills-container {
  display: flex;
  animation: scroll 20s linear infinite;
}

.skills-icon{
  color: rgb(0, 70, 248);
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.skill-category {
  flex: 0 0 auto;
  margin: 0 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 8px 20px rgba(0, 0, 0, 0.1);
  min-width: 200px;
}

.skill-category i {
  font-size: 2rem;
  margin-bottom: 10px;
}

.skill-category h3 {
  margin: 10px 0;
  font-size: 1.2rem;
}

.skill-category ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.skill-category ul li {
  margin-bottom: 5px;
}

.skills-animation-container {
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  align-items: center;
}


